<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS de B.S.-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- CSS de F.A.-->
    <link rel="stylesheet" href="../static/css/all.min.css">

    <!-- Fuente de Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

    <!-- Estilos del css-->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Nukaya</title>
</head>
<body>
    <!-- Comienzo de navegación-->
    <nav class="navbar navbar-expand-sm navbar-dark espaciao fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="intro">Nukaya</a>
        <span class="navbar-text">Aprendizaje para todos</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav custom-nav espaciao">
            <li class="nav-item custom-nav-item"><a href="intro" class="nav-link">Principal</a></li>
            <li class="nav-item custom-nav-item"><a href="courses" class="nav-link">Cursos</a></li>
            <!-- <?php 
            session_start();
            if(isset($_SESSION['is_login'])){
                echo '<li class="nav-item custom-nav-item"><a href="Student/studentProfile.php" class="nav-link">Mi Perfil</a></li>
                <li class="nav-item custom-nav-item"><a href="logout.php" class="nav-link">Cerrar sesión</a></li>';
            }else{
                 echo '<li class="nav-item custom-nav-item" data-bs-toggle="modal" data-bs-target="#stuLoginModalCenter"><a href="#" class="nav-link">Iniciar Sesión</a></li>
                 <li class="nav-item custom-nav-item" data-bs-toggle="modal" data-bs-target="#stuRegModalCenter"><a href="#" class="nav-link">Registro</a></li>';
            }
            ?>                         -->
            <li class="nav-item custom-nav-item"><a href="#" class="nav-link">Feedback</a></li>
            <li class="nav-item custom-nav-item"><a href="#" class="nav-link">Contacto</a></li>
            <li class="nav-item custom-nav-item"><a href="#" class="nav-link disabled">Texto a Audio</a></li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="container-fluid bg-dark">
        <div class="row">
            <img src="../static/images/0_OG3ff3Su63IWNSpQ.jpg" alt="bannercurso" style="height: 250px; width: 100%; object-fit:cover; box-shadow:10px;"> 
        </div>
    </div>
        <!-- Fin banner cursos-->

        <!--Video IA-->
        <div class="videomus">
          <video id="cursosVid" width="50%" height="240" controls autoplay preload="auto">
            <source src="../static/videos/IAMusicaEsteSi.mp4" type="video/mp4">
            Tu navegador no acepta el formato de video.
          </video>
        </div>
        
    
        <!-- Todos los cursos-->
    <div class="container mt-5">
      <h1 class="text-center">Todos los cursos</h1>
      
      <!--Primer grupo-->
      <div class="row row-cols-3 row-cols-lg-4 justify-content-between mt-4">
        <div class="col">
          <div class="card">
            <img src="../static/images/Teoria2.png" class="card-img-top" alt="Teoría musical">
            <div class="card-body">
            <h5 class="card-title">Aprende la teoría de la música</h5>
              <p class="card-text">El origen de las notas, la partitura, y las diferentes formas de expresión musical escrita.</p>
            </div>
            <div class="card-footer">
              <!-- <p class="card-text">Precio: <small><del>&#8377 2000 </del></small><span class="font-weight-bolder">&#8377 200</span></p> -->
              <a class="btn btn-primary text-white font-weight-bolder float-end" href="coursedetails.php">Inscribirse</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../static/images/Canto2.png" class="card-img-top" alt="Teoría musical">
            <div class="card-body">
            <h5 class="card-title">Aprende a solfear</h5>
              <p class="card-text">Aprende las nociones de las notas, su sonido, y cómo cantarlas correctamente</p>
            </div>
            <div class="card-footer">
              <!-- <p class="card-text">Precio: <small><del>&#8377 2000 </del></small><span class="font-weight-bolder">&#8377 200</span></p> -->
              <a class="btn btn-primary text-white font-weight-bolder float-end" href="coursedetails.php">Inscribirse</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../static/images/Historia2.jpeg" class="card-img-top" alt="Teoría musical">
            <div class="card-body">
            <h5 class="card-title">Aprende rítmica musical</h5>
              <p class="card-text">Los silencios, las corcheas, todo lo que quieres saber sobre rítmica.</p>
            </div>
            <div class="card-footer">
              <!-- <p class="card-text">Precio: <small><del>&#8377 2000 </del></small><span class="font-weight-bolder">&#8377 200</span></p> -->
              <a class="btn btn-primary text-white font-weight-bolder float-end" href="coursedetails.php">Inscribirse</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin del primer grupo-->
      
      <!-- Segundo grupo-->
      <div class="row row-cols-3 row-cols-lg-4 justify-content-between mt-4">
        <div class="col">
          <div class="card">
            <img src="../static/images/Armonia2.png" class="card-img-top" alt="Rítmica">
            <div class="card-body">
              <h5 class="card-title">Aprende armonía musical</h5>
              <p class="card-text">Cómo combinar las notas y hacer secuencias que deleiten el oído.</p>
            </div>
            <div class="card-footer">
              <!-- <p class="card-text">Precio: <small><del>&#8377 2000 </del></small><span class="font-weight-bolder">&#8377 200</span></p> -->
              <a class="btn btn-primary text-white font-weight-bolder float-end" href="coursedetails.php">Inscribirse</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../static/images/Silencio.png" class="card-img-top" alt="Rítmica">
            <div class="card-body">
              <h5 class="card-title">Aprende las cadencias</h5>
              <p class="card-text">Todo lo que necesitas saber sobre la continuación de las notas y cómo proceder con ellas..</p>
            </div>
            <div class="card-footer">
              <!-- <p class="card-text">Precio: <small><del>&#8377 2000 </del></small><span class="font-weight-bolder">&#8377 200</span></p> -->
              <a class="btn btn-primary text-white font-weight-bolder float-end" href="coursedetails.php">Inscribirse</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../static/images/Cadencia.png" class="card-img-top" alt="Rítmica">
            <div class="card-body">
              <h5 class="card-title">Aprende sobre historia de la música</h5>
              <p class="card-text">Todo lo que quieres saber, desde su inicio en la prehistoria, hasta la influencia tecnológica.</p>
            </div>
            <div class="card-footer">
              <!-- <p class="card-text">Precio: <small><del>&#8377 2000 </del></small><span class="font-weight-bolder">&#8377 200</span></p> -->
              <a class="btn btn-primary text-white font-weight-bolder float-end" href="coursedetails.php">Inscribirse</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin del segundo grupo-->
      
      <div class="text-center m-2">
        <a href="#" class="btn btn-danger btn-sm">Ver todos los cursos</a>
      </div>
    </div>
    
<!-- JS de Jquery y BS-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>

<!-- JS de F.A.-->
<script src="../static/js/all.min.js"></script>

<!-- JS de Ajax-->
<script type="text/javascript" src="../static/js/ajaxrequest.js"></script>

<!-- JS de Ajax
<script type="text/javascript" src="js/adminajaxrequest.js"></script> -->
</body>
</html>